/*-- scss:defaults --*/
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$link-color: #42affa;
$bg-color: #000000;
$slide-bg-color: #000000;
$presentation-font-size-root: 40px;
$presentation-h1-font-size: 2.3em;
$presentation-h2-font-size: 1.4em;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .bigger{
    font-size: 1em;
}

h1.title {
    font-size: 2.3em;
    font-weight: bold;
}